/* Page-specific styling */

/*Avatar*/


/*#avatarArea {
    height: 420px;
    overflow: hidden;
    position: absolute;
    right: 40px;
    width: 340px;
}

#wlautoPlayer {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    right: 25000px;
}

.loaded #wlautoPlayer {
    right: 0;
}

#loadingProdeafWeb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e7e7e7;
}

.loaded #loadingProdeafWeb {
    display: none;
}

#wlautoPlayer canvas, #wlautoPlayer embed {
    width: 100% !important;
    height: 100% !important;
}

#wlautoContainer, #startWlAuto {
    display: none !important;
}

#loadingProdeafWebContent {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
}

#btnGetTranslation {
    vertical-align: middle;
    margin-left: 5px;
}

.menu_item{
    text-decoration: none;
    padding-top: 6%;
}

#loadingWlAuto{
    display:none !important;
}*/