.padding{
   padding-left:10px;
}

#wlautoContainer{
    left: 30px!important;
    top: 150px!important; 
    position: relative!important;
    margin-left: 0!important;
}

#startWlAuto{
    display:none!important;
}